body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: #444;
  background-image: url(https://big.assets.huffingtonpost.com/slide_297900_2459506_free.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  font-size: 18px;

}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.lineUp {
  padding: 5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.greenDancer{
  border: 10px solid green;
  border-radius:10px;
  position:absolute;
}
.johnnyBravo {
  border: 0px;
  content: url(/Users/kooma/Desktop/HackReactor/hrla27-subclass-dance-party/img/johnny.jpg);
  width: 100px;
  height: 100px;
  
}
.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.apeach {
  border: 0px;
  content: url(/Users/kooma/Desktop/HackReactor/hrla27-subclass-dance-party/img/apeach.png);
  width: 100px;
  height: 100px;
}

.ryan {
  border: 0px;
  content: url(/Users/kooma/Desktop/HackReactor/hrla27-subclass-dance-party/img/ryan.png);
  width: 100px;
  height: 100px;
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}